<h1>Edit your book</h1>
<form action="" method="POST" class="form">
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Type your book" value="{{book.title}}">
  </div>
  <div class="form-control">
    <label for="pages">Pages</label>
    <input type="number" name="pages" placeholder="Type number of pages" value="{{book.pages}}">
  </div>
  <input type="submit" value="Edit">
</form>